<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jacquinc.admin.sys.entity.LogEntityMapper">
  <resultMap id="BaseResultMap" type="com.jacquinc.admin.sys.entity.LogEntity">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="parameter" jdbcType="VARCHAR" property="parameter" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="exception" jdbcType="VARCHAR" property="exception" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_ts" jdbcType="TIMESTAMP" property="createTs" />
    <result column="create_user_id" jdbcType="VARCHAR" property="createUserId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, url, parameter, ip, status, exception, remark, create_ts, create_user_id
  </sql>
  <select id="selectByCondition" parameterType="com.jacquinc.admin.sys.entity.LogEntityCondition" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_jj_sys_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="PostgreSqlPaginationSuffix" />
  </select>
  <delete id="deleteByCondition" parameterType="com.jacquinc.admin.sys.entity.LogEntityCondition">
    delete from t_jj_sys_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByCondition" parameterType="com.jacquinc.admin.sys.entity.LogEntityCondition" resultType="java.lang.Long">
    select count(*) from t_jj_sys_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByCondition" parameterType="map">
    update t_jj_sys_log
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null">
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter != null">
        parameter = #{record.parameter,jdbcType=VARCHAR},
      </if>
      <if test="record.ip != null">
        ip = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.exception != null">
        exception = #{record.exception,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTs != null">
        create_ts = #{record.createTs,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUserId != null">
        create_user_id = #{record.createUserId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <sql id="PostgreSqlPaginationSuffix">
    <if test="page != null">
      <![CDATA[ limit #{page.pageSize} offset #{page.recordStartPrev} ]]>
    </if>
  </sql>
  <insert id="insertList" parameterType="java.util.List">
     insert into t_jj_sys_log ( id,url,parameter,ip,status,exception,remark,create_ts,create_user_id ) values
    <foreach collection="list" index="index" item="item" separator=",">
       ( #{item.id,jdbcType=VARCHAR},#{item.url,jdbcType=VARCHAR},#{item.parameter,jdbcType=VARCHAR},#{item.ip,jdbcType=VARCHAR},#{item.status,jdbcType=VARCHAR},#{item.exception,jdbcType=VARCHAR},#{item.remark,jdbcType=VARCHAR},#{item.createTs,jdbcType=TIMESTAMP},#{item.createUserId,jdbcType=VARCHAR} )
    </foreach>
  </insert>
</mapper>